body {
    background-color: #0B0C0C;
      font-family: Arial, Bold, sans-serif;
      font-size: 16px;
      color: #ffffff;
   }
.cont {
    display: flex;
    justify-content: center;

}
ul {list-style-type: none;}
.left_block {
    background-color: #222424;
    width: 723px;
    height: 1100px;
    border: 1px;
    border-radius: 23px;
    margin-left: 450px;
    margin-top: 50px;
    color:#ffffff;
    overflow: scroll;
}
.navigation {
    background-color: #222424;
    max-width: 373px;
    height: 355px;
    border: 1px;
    border-radius: 23px;
    margin-left: 15px;
    margin-top: 50px;

}
.sortirovka {
    background-color: #222424;
    width: 373px;
    height: 100px;
    border: 1px;
    border-radius: 23px;
    margin-left: 15px;
    margin-top: 20px;
    color:#ffffff8f;
    padding-top: 20px;
    padding-left: 30px;
    max-width: 345px;
}
button, input {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}
a {
    color: #ffffff;
   
}
.people_element_list {
    border-bottom: 2px solid #979696;    
    background-color: #222424;
    padding: 5px;
    max-width: 600px;

}
.name_mail {
    margin-top: -50px;
    margin-left: 100px;

}
span {
    margin-left: 0px;

}
img {
    margin-top: 40px;
    width: 70px;
    height: 70px;
    border-radius: 50%;
}
.del_friends {
    color: #ffffff;
    background-color: #747070;
    margin-bottom: 20px;
    margin-left: 400px;
    width: 180px;
    border-radius: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
}
.nav_but_element {
    padding-top: 15px;
    margin-top: 10px;
    width: 330px;
    padding-left: 30px;
    padding-bottom: 8px;
    margin-left: -35px;
    border-radius: 10px;
}
.search {
    width: 673px;
    height: 25px;
    background-color: #2C2C2C;
    margin-left: 20px;
    margin-top: 30px;
    border-radius: 10px;
    padding-left: 10px;
}
.people {
    margin-top: 10px;
    margin-left: 20px;
    display: flex;
    font-weight: 900;
}
select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border:0px;
    outline:0px;
    width: 284px;
    height: 30px;
    color: #ffffff9c;
    background-color: #222424;
    border-radius: 10px;
    border: 3px solid #2C2C2C;
    padding-left: 10px;
    font-size: 16px;
}

select::-ms-expand {
    display: none;
}

.left_block::-webkit-scrollbar {
    width: 10px;
}